.icon {
  width: 24px;
  height: 24px;

  fill: #FBC46B;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background: #FFFFFF;
  border: 1px solid rgba(119, 126, 145, 0.2);
  border-radius: 50%;

  &.fill {
    background: #9B51E0;
    border: 1px solid rgba(119, 126, 145, 0.2);
  }
}