body {
  position: relative;

  min-width: 320px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', 'DM Sans', 'sans-serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E90;

  background-color: #FCFCFD;
}

button {
  outline: none;
}

a,
button {
  cursor: pointer;
  transition: all .4s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.alice-carousel__wrapper {

  background: red;
}

.alice-carousel__dots {
  margin-top: 0;
}

.active {
  .menu__activeLabel {
    display: block;
  }
}