.box {
  padding-top: 32px;
  padding-bottom: 44px;
}

.main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 61px;
}

.card {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 470px;
  padding: 18px;
  padding-bottom: 12px;
  margin-right: 35px;

  background: #FFFFFF;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}

.cardPatter {
  position: absolute;
  z-index: -1;
  left: 18px;
  top: 18px;
  right: 18px;
  bottom: 100px;

  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.cardBgSquare {
  position: absolute;
  left: 50%;
  top: 86px;

  width: 398px;
  margin-left: -199px;
  height: 175px;

  background: linear-gradient(90deg, #F96D8C 0%, #FBD862 100%);
  box-shadow: 0 44px 104px #FBBC6E;
  border-radius: 40px;
}

.cardBgCircle {
  position: absolute;
  left: 81px;
  top: -20px;

  width: 113px;
  height: 113px;

  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.cardTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tag {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  .mobileNone {
    display: none;
  }
}

.galleryNav {
  position: relative;

  width: 325px;
}

.galleryItem {
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.navButton {
  position: absolute;
  z-index: 1;

  top: 240px;

  &.prev {
    left: -40px;
  }

  &.next {
    right: -40px;

    transform: scaleX(-1);
  }
}

.cardName {
  margin: 0;
  padding: 14px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262F;
}

.cardBottomTag {
  display: none;
}

.info {
  width: 100%;
  max-width: 514px;
}

.name {
  padding-left: 14px;
  margin: 0;
  margin-bottom: 24px;

  font-family: 'DM Sans', 'Poppins', 'sans-serif';
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #F9738B;

  background: #FFFFFF;
  border-radius: 16px;
}

.nameMobile {
  display: none;

  width: 100%;
  margin: 0;
  margin-bottom: 47px;

  font-family: 'DM Sans', 'Poppins', 'sans-serif';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #F9738B;
}

.specs {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FCFCFD;
  border: 2px solid #E6E8EC;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}

.priceLabel {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262F;

  .grey {
    color: #777E90;
  }
}

.price {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  position: absolute;
  left: -32px;
  top: 50%;

  margin-top: -20px;
}

.priceValue {
  margin: 0;
  margin-left: 17px;

  font-family: 'DM Sans', 'Poppins', 'sans-serif';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #141416;
  text-transform: uppercase;
}

.dollars {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #777E91;
}

.customizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.customizingLabel {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262F;
}

.customizingRow {
  display: flex;
  justify-content: center;
}

.verticalSeparator {
  height: 40px;
  width: 1px;
  margin-left: 12px;
  margin-right: 12px;

  background-color: #E1E3E7;;
}

.openTable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 50%;
  border: none;
  background-color: #777E91;
}

.buyButton {
  width: 100%;
}

.desc {
  width: 100%;
  max-width: 612px;
}

.descTitle {
  margin: 0;
  margin-bottom: 8px;

  font-family: 'DM Sans', 'Poppins', 'sans-serif';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;

  background: linear-gradient(90deg, #F96D8C 0%, #FBD862 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descBody {
  p {
    margin: 0;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color: #777E90;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sizeTableClose {
  margin: 0 auto;
  margin-bottom: 41px;
  margin-top: 10px;
  width: 90%;
  max-width: 396px;
}

@media (max-width: 1064px) {
  .navButton {
    &.prev {
      left: -10px;
    }

    &.next {
      right: -10px;
    }
  }
}

@media (max-width: 864px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .name {
    display: none;
  }

  .nameMobile {
    display: block;
  }

  .card {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;

    box-shadow: none;
    background-color: transparent;
  }

  .cardBgSquare {
    height: 120px;
    width: 254px;
    margin-left: -127px;
    border-radius: 40px;
  }

  .cardBottomTag {
    display: block;
  }

  .tag {
    &.mobileNone {
      display: none;
    }
  }
}