.list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  margin-right: 12px;
}

.input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  width: 40px;
  height: 40px;

  border: 1px solid rgba(119, 126, 145, 0.2);
  background-color: #FCFCFD;
  border-radius: 50%;

  transition: all .4s ease;
  cursor: pointer;
}

.input:checked + .label {
  color: #FCFCFD;

  background-color: #23262F;;
}