.icon {
  fill: #777E91;
  opacity: .7;

  transition: all .4s ease;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    .icon {
      opacity: 1;
      fill: #F9738B;
    }
  }
}

.link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}