.box {
  padding-top: 32px;
  padding-bottom: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  margin-bottom: 24px;
  width: 32%
}

.navigation {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

@media (max-width: 864px) {
  .item {
    width: 49%;
  }
}

@media (max-width: 640px) {
  .item {
    width: 100%;
  }
}